{% extends 'layout.html' %}

{% block styles %}
<style>
    .hide, #delegatees, #tokens, #query {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<p>
    This script is used to generate the list of delegators for an HIVE account and then to create the request needed to send HE tokens.
</p>
<section id="accountSearch">
    <h2>Account search</h2>
    <label for="account">Enter the account name:</label>
    <input type="text" name="account" id="account">
    <input id="findAccount" type="button" value="Search for delegatees">
</section>

<section id="delegatees">
    <h2>1. Select users status</h2>
    <p>The distribution can be made in 3 modes for each users :</p>
    <ul>
        <li>Listed : User will receive rewards</li>
        <li>Redistribution : User choose to redistribute rewards to other users</li>
        <li>Hold : The community account will hold the rewards of the user</li>
    </ul>
    <h3>Total delegation = <span id="totalHPDisplayed"></span> HP</h3>
    <p id="totalHP" class="hide"></p>
    <table>
        <thead>
            <tr>
                <td>Options</td>
                <td>Account</td>
                <td>HP Deleg</td>
                <td>% Deleg</td>
            </tr>
        </thead>
        <tbody id="tbodyDeleg">
        </tbody>
    </table>
    <h3>Choose the rewards sender</h3>
    <label for="sameAccount">
        <input type="checkbox" name="sameAccount" id="sameAccount"> Sender is the same as delegation account
    </label>
    <label for="sendAccount">Enter the name of the account who send the tokens :</label>
    <input type="text" name="sendAccount" id="sendAccount">
    <input type="button" id="searchTokens" value="Search for tokens">
</section>

<section id="tokens">
    <h2>2. Choose token to send</h2>
    <table>
        <thead>
            <tr>
                <td>Selection</td>
                <td>Token</td>
                <td>Available Amount</td>
            </tr>
        </thead>
        <tbody id="tbodyTokens">
        </tbody>
    </table>
    <input type="button" id="createQuery" value="Create the query" class="hide">
</section>

<section id="query">
    <h2>3. Verify data</h2>
    <p>The next table will show you all the listed users and their rewards. Please verify before send.</p>
    <table>
        <thead>
            <tr>
                <td>User</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody id="tbodyQuery">
        </tbody>
    </table>
    <input type="button" id="sendQuery" value="Send !" class="hide">
    <article id="finalResult" class="hide">
        <h2>Result</h2>
    </article>
</section>
{% endblock %}