<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Token Distribution Script</title>
  <link rel="stylesheet" href="pico.min.css"> 
  <style>.logo{text-align:center;}</style>
  {% block styles %}{% endblock %}
</head>
<body>
    <main class="container">
      <p class="logo">
        <picture>
          <source srcset="logo-dark.png" media="(prefers-color-scheme: dark)">
          <img src="logo.png" alt="Token Distrib logo">
        </picture>
      </p>
      {% block content %}{% endblock %}
      <article class="grid">
        <div>
          <h4>HiveSQL</h4>
          {% if hivesql.status == "online" %}
            <p>Status: <span class="success">ONLINE</span></p>
          {% else %}
            <p>Error to retrieve HiveSQL server.</p>
          {% endif %}
        </div>
        <div>
          <h4>Hive-engine node status</h4>
          {% if heNode.online == true %}
            <p>Selected node : {{ heNode.name }}</p>
            <p>Status: <span class="success">ONLINE</span></p>
          {% else %}
            <p>Error to retrieve HiveEngine node.</p>
          {% endif %}
        </div>
      </article>
    </main>
    <footer class="container">
      <div class="grid">
        <p>
          This tool was made with &#10084; &amp; &#9749;<br>
          by <a href="https://florent-kosmala.fr">Florent "Bambukah" Kosmala</a>
        </p>
        <div>
          Find the author :
          <ul>
            <li>
              <a href="https://peakd.com/@bambukah">HIVE</a>
            </li>
            <li>
              <a href="https://discord.gg/u2qfuaFMwt">Discord</a>
            </li>
            <li>
              <a href="https://github.com/fkosmala/">GitHub</a>
            </li>
            <li>
              <a href="https://www.instagram.com/kosflorent/">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/jquery@3.7.0/dist/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    {% block script %}{% endblock %}
</body>
</html>