<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Token Distribution Script</title>
  <link rel="stylesheet" href="pico.min.css"> 
  <style>.logo{text-align:center;}</style>
  {% block styles %}{% endblock %}
</head>
<body>
    <main class="container">
      <p class="logo">
        <img src="/logo.png" alt="Token Distrib Logo">
      </p>
      {% block content %}{% endblock %}
    </main>
    <footer class="container">
      <div class="grid">
        <p>
          This tool was made with lot of &#10084; &amp; &#9749;<br/>
          by <a href="https://florent-kosmala.fr">Florent "Bambukah" Kosmala</a>
        </p>
        <ul>Find the author :
          <li>
            <a href="https://peakd.com/@bambukah">HIVE</a>
          </li>
          <li>
            <a href="https://twitter.com/florentkosmala">Twitter</a>
          </li>
          <li>
            <a href="https://discord.gg/u2qfuaFMwt">Discord</a>
          </li>
          <li>
            <a href="https://github.com/fkosmala/">GitHub</a>
          </li>
          <li>
            <a href="https://www.instagram.com/kosflorent/">Instagram</a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="https://unpkg.com/jquery@3.7.0/dist/jquery.js"></script>
    {% block script %}{% endblock %}
</body>
</html>